
.root{
    -fx-background-color: whitesmoke;
}
.button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(77, 102, 204);
    -fx-pref-width: 150;
    -fx-text-fill: WHITE;
}

